<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MVC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MVP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MVVM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>VIPER.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>471376E91C6239EF00C40C16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>471377001C6239EF00C40C16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>471377181C623A7100C40C16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4713772B1C623A7100C40C16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4713773C1C623AA900C40C16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4713774F1C623AA900C40C16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>471377601C623ADC00C40C16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>471377731C623ADD00C40C16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>471377841C623AE400C40C16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>471377971C623AE400C40C16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>471377BE1C62404000C40C16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>471377D11C62404000C40C16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>471377E91C62428300C40C16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>471377FC1C62428400C40C16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
